	*{
		padding:0;
		margin: 0;
	}
	#contaner{
		width: 100%;
		height: 80px;

	}
	#header{
		background-color: #DD0000;
		width: 100%;
		height: 50px;
		color: white;

	}
	#menu{
		width: 100%;
		background-color: #AA0000;
		height: 30px;

	}
	#textheader{
		width: 60%;
		text-align: left;
		padding:10px;


	}
	#textmenu{
		text-align: left;
		width: 60%;
		height: 30px;

	}
	ul{
		list-style: none;
	}
	.text{
		float: left;
		border-right: 1px solid white;
		color: white ;
		padding:5px;
	}
	.last{
		border-right: none;
	}
	#header-last{
		width: 100%;
		height: 130px;
		background-color: #DDDDDD;
	}
	#text-hd{
		margin:1px;
		padding:1px;
		float: right;
		width: 53%;
		height: 20px;
	}
	.picture{
		position: absolute;
		top:105px;
		right:310px;
		z-index: 1;
		background-color: #BBBBBB;
		border-radius: 3px;
	}
	#body1{
		width:70%;
		height:3000px;
		background-color:white;
		margin:20px;
		padding:10px;
	}
	#body-1{
		width:60%;
		height:300px;
		text-align: left;
		float: left;
		border-bottom:1px solid #E6E6E6;

	}
	#child-body-11{
		width:40%;
		float:left;
		height:200px;
	}
	#child-body-12{
		width:60%;
		float:right;
		height:200px;
	}
	#picture2{
		width: 100%;
		height: 200px;
	}
	.line{
		width: 10%;
	}
	.text-body-11{
		color: red;
	}
	a{
		text-decoration: none;
	}
	#body-2{
		width: 39%;
		background-color: white;
		height: 3000px;
		float: right;

	}
	.text-body-2{
		text-align:left;
		margin:5px;
		padding:5px;
		font-size:20px;
		font-weight:bold;
		

	}

	#body-2-1{
		width: 100%;
		background-color: #DDDDDD;
		height: 2200px;
	}
	#text-body-22{
		color: 	#808080		;
		background-color: #DDDDDD;
		width: 100%
		height:40px;
		margin:10px;
		padding:5px;
		text-align: left;
	}
	#body-2-3{
		width: 100%;
		height: 200px;
	}
	.text-body-23{
		text-align: left;
		
	}
	.text-body-24{
		color: red;
		float:right;
	}
	

	#body-11{
		width:60%;
		height:400px;
		float:left;
	}
	#child-body-1-1{
		width:33%;
		height:390px;
		float: left;
		text-align: left;
	}
	#child-body-1-2{
		width:33%;
		height:390px;
		float: left;
		text-align: left;
		border-right:1px solid #E6E6E6;
		margin:1px;
	}
	#child-body-1-3{
		width:33%;
		height:390px;
		float: left;
		text-align: left;
		border-right:1px solid #E6E6E6;

		
	}
	#child-body-1-3-1{
		width:100%;
		height:33%;
		border-bottom:1px solid #E6E6E6;
	}
	#child-body-1-3-2{
		width:100%;
		height:33%;
		border-bottom:1px solid #E6E6E6;
	}
	#child-body-1-3-3{
		width:100%;
		height:33%;
		border-bottom:1px solid #E6E6E6;
	}